@model HR_OxCode.Models.Deductibles

@{
    ViewData["Title"] = "DetailsDeduct";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>DetailsDeduct</h1>

<div class="m-5">
    <h4>Deductibles</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.jobTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.jobTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BasicSalary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BasicSalary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Month)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Month)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoOfDayes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoOfDayes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.From)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.From)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.To)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.To)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeductAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeductAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reasons)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reasons)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Notes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeductHistory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeductHistory)
        </dd>
    </dl>
</div>
<div class="m-5">
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
