@model IEnumerable<HR_OxCode.Models.PayLoans>

@{
    ViewData["Title"] = "PayLoansindex";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>PayLoansindex</h1>

<p>
    <a asp-action="CreatePayLoans">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Month)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.installmentNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.installmentAmount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Month)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.installmentNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.installmentAmount)
            </td>
            <td>
                <a asp-action="EditPayLoans" asp-route-id="@item.id">Edit</a> |
                <a asp-action="DetailsPayLoans" asp-route-id="@item.id">Details</a> |
                <a asp-action="DeletePayLoans" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
