@model HR_OxCode.Models.HRPanelOvertimeRequest

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>HRPanelOvertimeRequest</h4>
    <hr />
    <dl class="row m-5">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateMonth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateMonth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoOfHourse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoOfHourse)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OverNotes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OverNotes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalOvertime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalOvertime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Totalpaid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Totalpaid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalOVPending)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalOVPending)
        </dd>
    </dl>
</div>
<div class="m-5">
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
