<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HR_OxCode</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />


    @*//BeginReport

    @Html.DevExpress().GetStyleSheets(
    
       new StyleSheet { ExtensionSuite = ExtensionSuite.Report}
    
    )
    @Html.DevExpress().GetScripts(


      new Script { ExtensionSuite = ExtensionSuite.Report}

    )

    <link href="@Uri.Content("~/Content/site.css") rel= "stylesheet" text="text/css">


    //EndReport*@

</head>
<body>

    @*<header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">HR_OxCode</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Test" asp-action="Index">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>*@

    <div>
        <h3> The Logo Of Webside </h3>
        
    </div>

    <div>

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
               aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas fa-fw fa-cog"></i>
                <span>Components</span>
            </a>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Custom Components:</h6>
                    <a class="collapse-item" asp-controller="StaffProfile" asp-action="Index">StaffProfile</a>
                    <a class="collapse-item" asp-controller="Payroll" asp-action="Index">Payroll</a>
                    <a class="collapse-item" asp-controller="Letters" asp-action="Lettersindex">Letters</a>
                    <a class="collapse-item" asp-controller="contracts" asp-action="contracts">Contracts</a>
                    <a class="collapse-item" asp-controller="settings" asp-action="settings">Settings</a>
                    <a class="collapse-item" asp-controller="Apprasial" asp-action="Apprasial">Apprasial</a>
                    <a class="collapse-item" asp-controller="Airticket" asp-action="Airticket">AirTicket&GovernExpenses</a>
                    <a class="collapse-item" asp-controller="joboffers" asp-action="joboffers">JobOffers</a>
                    <a class="collapse-item" asp-controller="Reports" asp-action="Reports">Reports</a>
                    <a class="collapse-item" asp-controller="Dashboard" asp-action="Index">Dashboard</a>
                    <a class="collapse-item" href="cards.html">Cards</a>
                </div>
            </div>
        </li>


    </div>


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - HR_OxCode - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
