@model HR_OxCode.Models.Excuseing

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Details</h1>

<div class="m-5">
    <h4>Excuseing</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StaffID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StaffID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExcuseFrom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExcuseFrom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExcuseTo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExcuseTo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoOfHourse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoOfHourse)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoOfDays)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoOfDays)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LeaveReason)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LeaveReason)
        </dd>
    </dl>
</div>
<div class="m-5">
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
