@model HR_OxCode.Models.EndOfService

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Details</h1>

<div class="m-5">
    <h4>EndOfService</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.jobtitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.jobtitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HireDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HireDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Branch)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Branch)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BasicSalary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BasicSalary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HouseingAllownse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HouseingAllownse)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransAllownse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransAllownse)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalSalary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalSalary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeOfEnd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeOfEnd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndOfServiceDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndOfServiceDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Benefits)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Benefits)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PeriodHiredYM)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PeriodHiredYM)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comments)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comments)
        </dd>
    </dl>
</div>
<div class="m-5">
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
