@model HR_OxCode.Models.Letters

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Letters</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.jobTittle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.jobTittle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LetterDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LetterDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EffectiveDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EffectiveDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Signature)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Signature)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WarningDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WarningDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ViolationDamage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ViolationDamage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Penelty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Penelty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WarningType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WarningType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BankName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BankName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Branch)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Branch)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccountNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccountNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SalaryDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SalaryDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartingDateOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartingDateOn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PeriodFrom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PeriodFrom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PeriodTo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PeriodTo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
