@model HR_OxCode.Models.Settings

@{
    ViewData["Title"] = "DetailsNationality";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>DetailsNationality</h1>

<div>
    <h4>Settings</h4>
    <hr />
    <dl class="row">
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DepartmentAr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepartmentAr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DepartmentEn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepartmentEn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.jobtitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.jobtitle)
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NationalityAr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NationalityAr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NationalityEn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NationalityEn)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BankName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BankName)
        </dd>*@
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
