@model IEnumerable<HR_OxCode.Models.Settings>

@{
    ViewData["Title"] = "Jobtitleindex";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Jobtitleindex</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            @*<th>
                @Html.DisplayNameFor(model => model.DepartmentAr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartmentEn)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.jobtitle)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.NationalityAr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NationalityEn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BankName)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @*<td>
                @Html.DisplayFor(modelItem => item.DepartmentAr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartmentEn)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.jobtitle)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.NationalityAr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NationalityEn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BankName)
            </td>*@
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
