@model IEnumerable<HR_OxCode.Models.HRPanelLoansRequest>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoanAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoOfinstallment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.installmentStarts)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalLoans)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPaid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPending)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoanAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoOfinstallment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.installmentStarts)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalLoans)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPaid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPending)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
