@model HR_OxCode.Models.HRPanelVacationRequest

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>HRPanelVacationRequest</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LeaveType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LeaveType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LeaveFrom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LeaveFrom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LeaveTo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LeaveTo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoOfDays)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoOfDays)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LeaveReason)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LeaveReason)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactDetails)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactDetails)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SavedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SavedBy)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
