@model HR_OxCode.Models.AirTickets

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>AirTickets</h4>
    <hr />
    <dl class="row m-5">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StaffID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StaffID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.jobTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.jobTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Branch)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Branch)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nationality)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nationality)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FlightDetails)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FlightDetails)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Payment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Payment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adults)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adults)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Children)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Children)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Infants)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Infants)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValuePrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValuePrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoOfinstallment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoOfinstallment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dateinstallment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dateinstallment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.installmentAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.installmentAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InsuranceCompany)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InsuranceCompany)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PolicyNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PolicyNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EffectiveDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EffectiveDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExpiryDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExpiryDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InsuredMemberName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InsuredMemberName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CardNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CardNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Class)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Class)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BasicPremium)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BasicPremium)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InsuranceAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InsuranceAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExcuseFrom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExcuseFrom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateFrom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateFrom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateTo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateTo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoOfDays)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoOfDays)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoOfHours)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoOfHours)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LeaveReason)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LeaveReason)
        </dd>
    </dl>
</div>
<div class="m-5">
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
